<div class="row">
<div class="col-md-6 offset-3 alert alert-success text-center">
    <h2>SignedUp Successfully</h2>
<p>you can now login to app...All the best</p>
<hr/>
<p>Thank You!!</p>
</div>
</div>